body{ 
    background-color: rgb(68, 16, 209);
}
h1{
    color: rgb(221, 5, 5);
    font-size:40px;
}
.test1{
    color:red;
}
.test2{
    color: cyan;
}
.test3{
    color: greenyellow;
}
#test4{
    color: green;
}
#test5{
    color: blue;
}
#test6{
    color: blueviolet;
}
input[type="text"]{
    background: red;
    color: blue;
}
input[type="email"]{
    background: green;
    color: red;
}
input[type="submit"]{
    background: yellow;
    color: black;
}
.men{
      width: 200px;
      height: 200px;
      background: yellow;

      border: 10px red  solid;
}
#ayoub{
    color: aqua;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: medium;
    font-weight: bold;
}
p{
    color: red;
    font-size: 40px;
    line-height: 20px;
    letter-spacing: 5px;
    
}
.num1{
    text-align: center;
    color: green;
    direction: ltr;
}
.xmen{
    height: 200px;
    width: 200px;
    border: red 20px solid;
    background: white;
    background-image: url("th.jfif");
    background-size: 200px 200px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: left top;
}
.ymen{
    color: red;
    border: 5px cyan solid;
    padding: 10px 5px;                    /*hadi kadir kat9ad biha lmasafa bin lktaba w div*/
    margin: 10px 5px;                     /*hadi kat9ad biha lmasafa ddiv mn bra*/
}
a{
    text-decoration: line-through;        /*hadi kadir decoration liktkon flklma likatdi lsite*/
    color: red;                         /*hadi lcouleur dyal lklma likadi lsite*/
    cursor: copy;                         /*hadi kat5tar lcusrsor liybanlk wra mat7t cursor 3la lklma likatdik lsite*/
} 
a:hover{
    color: green;                      /*kandiroha fay blasa hiya katbdl lone dyal text wla site wla klma mnin tn7to fo9ha lcursor wkaymkn tbdl ta size dyal lklma*/
    font-size: 20px;
}
.azer{
    visibility: hidden;
    color: azure;
}
.azert{
    color: aliceblue;
}
.yahoo{
    height: 200px;
    width: 200px;
    background: rgb(255, 0, 0);
    background-color: white;
    overflow: auto;                                   /*kayn 4 dyal overflow visible hiya l3adiya whidden kat5fi ay 7aja 5arja 3la div w scroll katdirlk fin thbt wtl3 lktaba wkayn auto kat9ad dikxi rasha wfx ttkon ktaba sghira makadir walo*/ 
    
}
ul{
    list-style-type: square;                        /*hadi kan9adi biha xkl dyal ala liste wax squar wla circle etc..*/
    list-style-position: inside;                    /* ila kant inside la liste ttakon da5l div wila kant outside tatkon 5arj*/
    list-style-image: url("cafafvafa.png");         /*hadi bax kadir img lla liste*/

}
ul li{
    background-color: aqua;
}
.container{
    background-color: green;
}
.container div{
    float: left;
    width: 25%;
    
}
.clear{
    clear: both;
}